**(1)Write a function to return True if the first and last number of a given list is same. If numbers are different then return False.**

In [ ]:
numbers_x = [10, 20, 30, 40, 10]
numbers_y = [75, 65, 35, 75, 30]

def first_last_same(numberList):
    print("Given list:", numberList)
    
    first_num = numberList[0]
    last_num = numberList[-1]
    
    if first_num == last_num:
        return True
    else:
        return False

numbers_x = [10, 20, 30, 40, 10]
print("result is", first_last_same(numbers_x))

numbers_y = [75, 65, 35, 75, 30]
print("result is", first_last_same(numbers_y))

Given list: [10, 20, 30, 40, 10]
result is True
Given list: [75, 65, 35, 75, 30]
result is False

**(2)Given two integer numbers return their product only if the product is equal to or lower than 1000, else return their sum.**

In [ ]:
## first condition
number1 = 20
number2 = 30

## Second condition
number1 = 40
number2 = 30

def multiplication_or_sum(num1, num2):
    # calculate product of two number
    product = num1 * num2
    sum = num1 + num2
    # check if product is less then 1000
    if product <= 1000:
        return product
    else:
        # product is greater than 1000 calculate sum
        return sum

# first condition
result = multiplication_or_sum(20, 30)
print("The result is", result)

# Second condition
result = multiplication_or_sum(40, 30)
print("The result is", result)

The result is 600
The result is 70

**(3)Write a program to iterate the first 10 numbers and in each iteration, print the sum of the current and previous number.**

In [ ]:
print("Printing current and previous number and their sum in a range(10)")
previous_num = 0

# loop from 1 to 10
for i in range(1, 11):
    x_sum = previous_num + i
    print("Current Number", i, "Previous Number ", previous_num, " Sum: ", x_sum)
    # modify previous number
    # set it to the current number
    previous_num = i

Printing current and previous number and their sum in a range(10)
Current Number 1 Previous Number  0  Sum:  1
Current Number 2 Previous Number  1  Sum:  3
Current Number 3 Previous Number  2  Sum:  5
Current Number 4 Previous Number  3  Sum:  7
Current Number 5 Previous Number  4  Sum:  9
Current Number 6 Previous Number  5  Sum:  11
Current Number 7 Previous Number  6  Sum:  13
Current Number 8 Previous Number  7  Sum:  15
Current Number 9 Previous Number  8  Sum:  17
Current Number 10 Previous Number  9  Sum:  19

**(4)Write a program to accept a string from the user and display characters that are present at an even index number.**

In [ ]:
# accept input string from a user
word = input('Enter word ')
print("Original String:", word)

# get the length of a string
size = len(word)

# iterate a each character of a string
# start: 0 to start with first character
# stop: size-1 because index starts with 0
# step: 2 to get the characters present at even index like 0, 2, 4
print("Printing only even index chars")
for i in range(0, size, 2):
    print("index[", i, "]", word[i])

Enter word Tapendra
Original String: Tapendra
Printing only even index chars
index[ 0 ] T
index[ 2 ] p
index[ 4 ] n
index[ 6 ] r

In [ ]:
# accept input string from a user
word = input('Enter word ')
print("Original String:", word)

# using list slicing
# convert string to list
# pick only even index chars
x = list(word)
for i in x[0::2]:
    print(i)

Enter word Tapendra
Original String: Tapendra
T
p
n
r

In [ ]:
# Initialize list
List = [1, 2, 3, 4, 5, 6, 7, 8, 9]

# Show original list
print("\nOriginal List:\n", List)
 
print("\nSliced Lists: ")
 
# Display sliced list
print(List[3:9:2])
 
# Display sliced list
print(List[::-1])
 
# Display sliced list
print(List[0::2])

Original List:
 [1, 2, 3, 4, 5, 6, 7, 8, 9]

Sliced Lists:
[4, 6, 8]
[9, 8, 7, 6, 5, 4, 3, 2, 1]
[1, 3, 5, 7, 9]

**(5)Write a program to remove characters from a string starting from zero up to n and return a new string.**

In [ ]:
def remove_chars(word, n):
    print('Original string:', word)
    x = word[n::]
    return x

print("Removing characters from a string")
print(remove_chars("Tapendra", 4))
print(remove_chars("Tapendra", 2))

Removing characters from a string
Original string: Tapendra
ndra
Original string: Tapendra
pendra

**(6)Iterate the given list of numbers and print only those numbers which are divisible by 5 .**

In [ ]:
num_list = [10, 20, 33, 46, 55]
print("Given list:", num_list)
print('Divisible by 5:')
for num in num_list:
    if num % 5 == 0:
        print(num)

Given list: [10, 20, 33, 46, 55]
Divisible by 5:
10
20
55

**(7)Write a program to find how many times substring “Tapendra” appears in the given string.**

In [ ]:
str_x = "Tapendra is good AI  developer. Tapendra is a code writer. Tapendra Baduwal currently work at NIC"
# use count method of a str class
cnt = str_x.count("Tapendra")
print(cnt)

3

In [ ]:
#Without string method
def count_word(statement):
    print("Given String: ", statement)
    count = 0
    for i in range(len(statement)):
        count += statement[i: i + 8] == 'Tapendra' #Take 8 words in each itration space and points also count and match  with Tapendra
        print(statement[i: i + 8])
    return count
    
count = count_word("Tapendra is good AI  developer. Tapendra is a code writer. Tapendra Baduwal currently work at NIC")
print("Tapendra appeared ", count, "times")

Given String:  Tapendra is good AI  developer. Tapendra is a code writer. Tapendra Baduwal currently work at NIC
Tapendra
apendra
pendra i
endra is
ndra is
dra is g
ra is go
a is goo
 is good
is good
s good A
 good AI
good AI
ood AI
od AI  d
d AI  de
 AI  dev
AI  deve
I  devel
  develo
 develop
develope
eveloper
veloper.
eloper.
loper. T
oper. Ta
per. Tap
er. Tape
r. Tapen
. Tapend
 Tapendr
Tapendra
apendra
pendra i
endra is
ndra is
dra is a
ra is a
a is a c
 is a co
is a cod
s a code
 a code
a code w
 code wr
code wri
ode writ
de write
e writer
 writer.
writer.
riter. T
iter. Ta
ter. Tap
er. Tape
r. Tapen
. Tapend
 Tapendr
Tapendra
apendra
pendra B
endra Ba
ndra Bad
dra Badu
ra Baduw
a Baduwa
 Baduwal
Baduwal
aduwal c
duwal cu
uwal cur
wal curr
al curre
l curren
 current
currentl
urrently
rrently
rently w
ently wo
ntly wor
tly work
ly work
y work a
 work at
work at
ork at N
rk at NI
k at NIC
 at NIC
at NIC
t NIC
 NIC
NIC
IC
C
Tapendra appeared  3 times

**(8)Write a program to check if the given number is a palindrome number.**
- A palindrome number is a number that is same after reverse. For example 545, is the palindrome numbers

1. User must first enter the value of the integer and store it in a variable.
2. The value of the integer is then stored in another temporary variable.
3. The while loop is used and the last digit of the number is obtained by using the modulus operator.
4. The last digit is then stored at the one’s place, second last at the ten’s place and so on.
5. The last digit is then removed by truly dividing the number with 10.
6. This loop terminates when the value of the number is 0.
7. The reverse of the number is then compared with the integer value stored in the original_num variable.
8. If both are equal, the number is a palindrome.
9. If both aren’t equal, the number isn’t a palindrome.
10. The final result is then printed.

In [ ]:
def palindrome(n):
    #n=int(input("Enter number:"))
    original_num=n
    rev=0
    while(n>0):
        dig=n%10
        rev=rev*10+dig
        n=n//10
    if(original_num==rev):
        print("The number is a palindrome!")
    else:
        print("The number isn't a palindrome!")

palindrome(121)
palindrome(125)

The number is a palindrome!
The number isn't a palindrome!

In [ ]:
num = input('enter the number you want to be checked:')
if num == num[::-1]:
  print('The given number is PALINDROME')  
else:
  print('The given number is NOT a palindrome')

enter the number you want to be checked:54245
The given number is PALINDROME

**(9)Given a two list of numbers, write a program to create a new list such that the new list should contain odd numbers from the first list and even numbers from the second list.**

In [ ]:
def merge_list(list1, list2):
    result_list = []
    
    # iterate first list
    for num in list1:
        # check if current number is odd
        if num % 2 != 0:
            # add odd number to result list
            result_list.append(num)
    
    # iterate second list
    for num in list2:
        # check if current number is even
        if num % 2 == 0:
            # add even number to result list
            result_list.append(num)
    return result_list

list1 = [10, 20, 25, 30, 35]
list2 = [40, 45, 60, 75, 90]
print("result list:", merge_list(list1, list2))

result list: [25, 35, 40, 60, 90]

**(10)Calculate income tax p.a for the given income by adhering to the below rules.**
- upto 5,00,000 = 1%
- First Rs. 5,00,001-Rs. 7,00,000	= 10%
- Rs. 7,00,001- Rs 8,00,000	 = 20%
- Rs 8,00,001- Rs 15,00,000	= 30%
- Above Rs 15,00,000	= 36%

In [ ]:
def tax_cal(income):
  if income <= 500000:
    tax_payable = (income*1)/100
    print("Tax amount is :", tax_payable)
  elif 500000< income <= 700000:
    x = income - 500000
    tax_payable = (500000*1)/100 + (x*10)/100
    print("Tax amount is :", tax_payable)
  elif 700000< income <= 800000:
    x = income - 700000
    tax_payable = (500000*1)/100 + (200000*10)/100 + (x*20)/100
    print("Tax amount is :", tax_payable)
  elif 800000< income <= 1500000:
    x = income - 800000 
    tax_payable = (500000*1)/100 + (200000*10)/100 + (100000*20)/100 + (x*30)/100
    print("Tax amount is :", tax_payable)
  else:
    income > 1500000
    x = income - 1500000
    tax_payable = (500000*1)/100 + (200000*10)/100 + (100000*20)/100 + (700000*30)/100 + (x*36)/100
    print("Tax amount is :", tax_payable)

tax_cal(900000)

Tax amount is : 75000.0

**(11)Write a Python program to swap first and last element of the list or swap diff element.**

In [ ]:
# Python3 program to swap first
# and last element of a list

# Swap function
def swapList(newList):
	
	# Swapping
  newList[0], newList[-1] = newList[-1], newList[0]
  return newList
	
# Driver code
newList = [12, 35, 9, 56, 24]

print(swapList(newList))

[24, 35, 9, 56, 12]

In [ ]:
a_list = ["a", "b", "c"]
a_list[0], a_list[2] = a_list[2], a_list[0]
#swap first and third element

print(a_list)

['c', 'b', 'a']

In [ ]:
a_list = ['title', 'email', 'password2', 'password1', 'first_name', 
     'last_name', 'next', 'newsletter']
a_list[2], a_list[3] = a_list[3], a_list[2]

print(a_list )

['title', 'email', 'password1', 'password2', 'first_name', 'last_name', 'next', 'newsletter']

**(12)Write a function called exponent(base, exp) that returns an int value of base raises to the power of exp.**

In [ ]:
def exponent(base, exp):
    num = exp
    if num > 0:
      result = base ** exp
    print(base, "raises to the power of", exp, "is: ", result)

exponent(5, 4)

5 raises to the power of 4 is:  625

**(13)Reverse each word of a string.**
- Split the given string into a list of words using the split() method
- Use a list comprehension to create a new list by reversing each word from a list.
- Use the join() function to convert the new list into a string
- Display the resultant string

In [ ]:
#str1 = input("Enter your text:")
# Exercise to reverse each word  of a string
def reverse_words(Sentence):
    # Split string on whitespace
    words = Sentence.split(" ")
    print(words)

    #Use a list comprehension to create a new list by reversing each word from a list.
    #iterate list and reverse each word using ::-1
    new_word_list = [word[::-1] for word in words]
    print(new_word_list)
    
    # Joining the new list of words
    res_str = " ".join(new_word_list)
    return res_str

# Given String
str1 = "My Name is Tapendra Baduwal"
print(reverse_words(str1))

['My', 'Name', 'is', 'Tapendra', 'Baduwal']
['yM', 'emaN', 'si', 'ardnepaT', 'lawudaB']
yM emaN si ardnepaT lawudaB

In [4]:
words = ["Tapendra Baduwal"]
for word in words:
  rev_text = word[ ::-1]
  print(rev_text)

lawudaB ardnepaT

**(14)Read text file into a variable and replace all newlines with space.**

First creat text file or csv file .

Read file and chane as per need .

Assume you have a following text file (sample.txt).

- Line1
- line2
- line3
- line4
- line5

Expected Output:

Line1 line2 line3 line4 line5

In [ ]:
with open('sample.txt', 'r') as file:
    data = file.read().replace('\n', ' ')
    print(data)

**(15)Remove items from a list while iterating.**
- The while statement simply loops until a condition is False.When you don’t know the number of iteration.Only initialization and condition checking is written at the top.

- For loop When you already know the number of iterations.Initialization, condition checking, and iteration statements are written at the top.

In [ ]:
#Using while loop
number_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
i = 0
# get list's size
n = len(number_list)
# iterate list till i is smaller than n
while i < n:
    # check if number is greater than 50
    if number_list[i] > 50:
        # delete current index from list
        del number_list[i]
        # reduce the list size in every iteration so
        n = n - 1
        print(number_list)
    else:
        # move to next item
        i = i + 1
print(number_list)

[10, 20, 30, 40, 50, 70, 80, 90, 100]
[10, 20, 30, 40, 50, 80, 90, 100]
[10, 20, 30, 40, 50, 90, 100]
[10, 20, 30, 40, 50, 100]
[10, 20, 30, 40, 50]
[10, 20, 30, 40, 50]

- range function takes three arguments.
- First is the start index which is [length of list – 1], that is, the index of last list element(since index of list elements starts from 0 till length – 1).
- Second argument is the index at which to stop iteration.
- Since we need to compare all elements, this value must be -1. If this value is 0, then first element will not be checked.

- Third argument is the step size.
- Since we need to decrease index by 1 in every iteration, this should be -1.

In [6]:
#Using for loop and range()
number_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
for i in range(len(number_list)- 1, -1, -1):
    if number_list[i] > 50:
        print(number_list)
        del number_list[i]
print(number_list)

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
[10, 20, 30, 40, 50, 60, 70, 80, 90]
[10, 20, 30, 40, 50, 60, 70, 80]
[10, 20, 30, 40, 50, 60, 70]
[10, 20, 30, 40, 50, 60]
[10, 20, 30, 40, 50]

Remove elements from a list while iterating using filter() function

Filter() function accepts two arguments,

- First is a Lambda function or any other function
- Second is the list from which we want to delete elements

It iterates over all the elements from the list and applies the given function over each list element. During iteration, it yields the elements for which the given function returns True. So we can use the filter() function to filter elements from a list while iterating over it. For example

In [ ]:
list_of_num = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
# select all number is less and equal to 50, which remove number  greater than 50
list_of_num = list(filter(lambda num: num <= 50,
                          list_of_num)
                   )
print(list_of_num)

[10, 20, 30, 40, 50]

If a list contains duplicate elements, the remove() method only removes the first matching element.

In [ ]:
# animals list
animals = ['cat', 'dog', 'dog', 'guinea pig', 'dog']

# 'dog' is removed
animals.remove('dog')


# Updated animals list
print('Updated animals list: ', animals)

Updated animals list:  ['cat', 'dog', 'guinea pig', 'dog']

In [ ]:
myList = ["Bran",11,22,33,"Stark",22,33,11]
 
del myList[0]

myList

[11, 22, 33, 'Stark', 22, 33, 11]

In [ ]:
list1 = ["Hire", "the", "top", 10, "python","freelancers"]

removed_item = list1.pop(0)
print(list1)
print(removed_item)

#Output - ['the', 'top', 10, 'python', 'freelancers']
#Output - "Hire"

['the', 'top', 10, 'python', 'freelancers']
Hire

**(16)Display all duplicate items from a list**

In [ ]:
sample_list = [10, 20, 60, 30, 20, 40, 30, 60, 70, 80]
exist = []
duplicates = []

for i in sample_list:
    if i not in exist:
        exist.append(i)
    else:
        duplicates.append(i)
print(exist)
print(duplicates)

[10, 20, 60, 30, 40, 70, 80]
[20, 30, 60]

**(17)Invert Dictionary mapping**

In [ ]:
inv_map = {'A': 65, 'B': 66, 'C': 67, 'D': 68}
new_dict = {}
for key, value in inv_map.items():
    new_dict[value] = key

new_dict

{65: 'A', 66: 'B', 67: 'C', 68: 'D'}

In [ ]:
inv_map = {'A': 65, 'B': 66, 'C': 67, 'D': 68}
# Reverse mapping
new_dict = {value: key for key, value in inv_map.items()}
print(new_dict)

{65: 'A', 66: 'B', 67: 'C', 68: 'D'}

**(18)Filter dictionary to contain keys present in the given list**

In [ ]:
d1 = {'A': 65, 'B': 66, 'C': 67, 'D': 68, 'E': 69, 'F': 70}
new_dict = {}
# Filter dict using following keys
l1 = ['A', 'C', 'F']
for key in l1:
    new_dict[key] = d1[key]
    
new_dict

{'A': 65, 'C': 67, 'F': 70}

In [ ]:
# Dictionary
d1 = {'A': 65, 'B': 66, 'C': 67, 'D': 68, 'E': 69, 'F': 70}
# Filter dict using following keys
l1 = ['A', 'C', 'F']
new_dict = {key: d1[key] for key in l1}
print(new_dict)

{'A': 65, 'C': 67, 'F': 70}

**(19)Modify the element of a nested list inside the following list**

In [ ]:
#Change the element 35 to 500
list1 = [5, [10, 15, [20, 25, [30, 35], 40], 45], 50]
print(list1[1]) 
print(list1[1][2])
print(list1[1][2][2])
print(list1[1][2][2][1])

list1[1][2][2][1] = 500

print(list1)

[10, 15, [20, 25, [30, 35], 40], 45]
[20, 25, [30, 35], 40]
[30, 35]
35
[5, [10, 15, [20, 25, [30, 500], 40], 45], 50]

**(20)Access the nested key  from the following dictionary**

In [ ]:
#Access the nested key "increment"
emp_dict = {
    "company": {
        "employee": {
            "name": "Tapendra",
            "payable": {
                "salary": 50000,
                "increment": 12
            }
        }
    }
}
#Company key ko value 
print(emp_dict['company'])
#increment key ko value
emp_dict['company']['employee']['payable']['increment'] = "10"
print(emp_dict)

{'employee': {'name': 'Tapendra', 'payable': {'salary': 50000, 'increment': 12}}}
{'company': {'employee': {'name': 'Tapendra', 'payable': {'salary': 50000, 'increment': '10'}}}}

**(21)Python Input and Output Exercise**

In [ ]:
num1 = int(input("Enter first number "))
num2 = int(input("Enter second number "))

res = num1 * num2
print("Multiplication is", res)

Enter first number 21
Enter second number 22
Multiplication is 462

In [ ]:
print('My', 'Name', 'Is', 'Tapendra Baduwal', sep='**')

My**Name**Is**Tapendra Baduwal

In [ ]:
#The octal number of decimal number 8 is 10
num = 120


print('%o' % num)

170

In [ ]:
num = 458.541315
print('%.2f' % num)

%.2f 458.541315

In [ ]:
#Accept a list of 5 float numbers as an input from the user
numbers = []
# 5 is the list size
# run loop 5 times
for i in range(0, 5):
    print("Enter number at location", i, ":")
    # accept float number from user
    item = float(input())
    # add it to the list
    numbers.append(item)

print("User List:", numbers)

Enter number at location 0 :
0
Enter number at location 1 :
5
Enter number at location 2 :
6
Enter number at location 3 :
7
Enter number at location 4 :
8
User List: [0.0, 5.0, 6.0, 7.0, 8.0]

In [ ]:
#Accept any three string from one input() call
str1, str2, str3 = input("Enter three string:").split()
print('Name1:', str1)
print('Name2:', str2)
print('Name3:', str3)

Enter three string:TP MD KK
Name1: TP
Name2: MD
Name3: KK

In [ ]:
# Read line  from the file
with open("test.txt", "r") as fp:
    # read all lines from a file
    lines = fp.readlines()
    # get line number 3
    print(lines[2])

In [ ]:
# program 1: Print first 10 natural numbers
i = 1
while i <= 10:
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10

**(22)Calculate the sum of all numbers from 1 to a given number**

In [ ]:
#Using for loop and range() function
sum = 0 #initialize sum
num = int(input("Enter number "))
# stop: n+1 (because range never include stop number in result)
for i in range(1, num +1, 1):
    # add current number to sum variable
    sum += i
print("Sum is: ", sum)

Enter number 10
Sum is:  55

In [ ]:
#Sum of n natural number
n = int(input("Enter number "))
Sum= n * (n + 1) / 2
print(sum)

Enter number 10
55

In [ ]:
list =[1,2,3,4,5,6,7,8,9,10]
sum=0
for i in list:
    sum+= i
print(sum)

55

In [ ]:
print(sum(range(1,101)))

5050

**(23)Write a program to print multiplication table of a given number**

In [ ]:
n = int(input("Enter multiplication table of a given number "))
# stop: 11 (because range never include stop number in result)
# run loop 10 times
for i in range(1, 11, 1):
    # 2 *i (current number)
    product = n * i
    print(f"{n}*{i} = {product}")

Enter multiplication table of a given number 10
10*1 = 10
10*2 = 20
10*3 = 30
10*4 = 40
10*5 = 50
10*6 = 60
10*7 = 70
10*8 = 80
10*9 = 90
10*10 = 100

**(24)Write a program to display only those numbers from a list that satisfy the following conditions**

- The number must be divisible by five
- If the number is greater than 150, then skip it and move to the next number
- If the number is greater than 500, then stop the loop

In [ ]:
numbers = [12, 75, 150, 180, 145, 525, 50]
# iterate each item of a list
for item in numbers:
    if item > 500:
        break
    elif item > 150:
        continue
    # check if number is divisible by 5
    elif item % 5 == 0:
        print(item)

75
150
145

In [ ]:
numbers = [12, 75, 150, 180, 145, 525, 50]
# iterate each item of a list
for item in numbers:
    if item > 500:
      break
    elif item > 150:
      continue
    # check if number is divisible by 5
    else:
      if item % 5 == 0:
        print(item)

75
150
145

**(25)Write a program to display all prime numbers within a range**

- A Prime Number is a number that cannot be made by multiplying other whole numbers. A prime number is a natural number greater than 1 that is not a product of two smaller natural numbers.
- 6 is not a prime mumber because it can be made by 2×3 = 6
- 37 is a prime number because no other whole numbers multiply together to make it.

In [ ]:
start = int(input("Starting number:"))
end = int(input("Ending number:"))
print("Prime numbers between", start, "and", end, "are:")

for num in range(start, end + 1):
    # all prime numbers are greater than 1
    # if number is less than or equal to 1, it is not prime
    if num > 1:
        for i in range(2, num):
            # check for factors
            if (num % i) == 0:
                # not a prime number so break inner loop and
                # look for next number
                break
        else:
            print(num)

Starting number:10
Ending number:50
Prime numbers between 10 and 50 are:
11
13
17
19
23
29
31
37
41
43
47

**(26)Display Fibonacci series**
- The Fibonacci Sequence is a series of numbers. The next number is found by adding up the two numbers before it. The first two numbers are 0 and 1.

- For example, 0, 1, 1, 2, 3, 5, 8, 13, 21. The next number in this series above is 13+21 = 34.

In [ ]:
# first two numbers
num1, num2 = 5, 20

print("Fibonacci sequence:")
# run loop 10 times
for i in range(10):
    # print next number of a series
    print(num1, end="  ")
    #print(num1)
    # add last two numbers to get next number
    res = num1 + num2

    # update values
    num1 = num2
    num2 = res

Fibonacci sequence:
5  20  25  45  70  115  185  300  485  785

**(27)Find the factorial of a given number**

- The factorial (symbol: !) means to multiply all whole numbers from the chosen number down to 1.

In [ ]:
num = int(input("Given number:"))

factorial = 1
if num < 0:
    print("Factorial does not exist for negative numbers")
elif num == 0:
    print("The factorial of 0 is 1")
else:
    # run loop 5 times
    for i in range(1, num + 1):
        # multiply factorial by current number
        factorial = factorial * i
        print( factorial )
    print("The factorial of", num, "is", factorial)

Given number:4
1
2
6
24
The factorial of 4 is 24

**(28)Create a recursive function**
- A recursive function is a function that calls itself, again and again.

In [ ]:
def factorial(x):
    """This is a recursive function
    to find the factorial of an integer"""

    if x == 0:
        return 1
    
    if x < 0:
        return " not exist for negative numbers"
    else:
        return (x * factorial(x-1)) #calls itself, again and again
    
num = 4
print("The factorial of", num, "is", factorial(num))

The factorial of 4 is 24

**(29)Assign a different name to function and call it through the new name.**

In [ ]:
def display_student(name, age):
    print(name, age)

# call using original name
display_student("Tapendra", 26)

# assign new name
showStudent = display_student
# call using new name
showStudent("Tapendra", 26)

Tapendra 26
Tapendra 26